#wrap {
	width:100%;
	height:100%;
}

#header, #contents, #footer {
	width:100%;
	height:auto;
}

#gnbWrap {
	width:100%;
	height:auto;
	background-color:#000;
}
.gnb {
	overflow:hidden;
	width:100%;
	height:auto;
}

.gnb li {
	width:20%;
	height:auto;
	float:left;
}

.gnb li a {
	display:block;
	line-height:60px;
	text-align:center;
	color:#fff;
	border:1px solid #efefef;
	box-sizing:border-box;
}