@charset "utf-8";

#wrap {
	width:100%;
	height:100%;
}
#header, #contents, #footer {
	width:100%;
	height:auto;
	postion:relative;
}
#titleWrap {
	overflow:hidden;
	width:100%;
	height:150px;
	background-image:url(../images/witcher_01.jpg);
	background-size:100% auto;
	background-position:center top;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#gnbWrap {
	width:100%;
	height:auto;
}
.gnb {
	overflow:hidden;
	width:100%;
	height:auto;
}
.gnb li {
	width:16.66%;
	height:auto;
	float:left;
}
.gnb li a {
	display:block;
	line-height:60px;
	text-align:center;
	color:#fff;
	border:1px solid #000;
	box-sizing:border-box;
	background-color:#000;
}
.gnb li a.on {
	color:#000;
	background-color:#fff;
}

/* content */

.insert, .modify, .delete {
	width:0;
	height:0;
	overflow:hidden;
}
.insert.on, .modify.on, .delete.on {
	width:100%;
	height:auto;
	overflow:auto;
}
.data_tbl {
	width:100%;
	height:auto;
}
.data_tbl input[type="text"] {
	display:block;
	width:100%;
}

/* inventory */
.hoverable {
	width:100%;
	height:100%;
	position:relative;
}
.hoverTarget {
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0);
	color:#fff;
}
.hoverable:hover .hoverBox {
	display:block;
}
.hoverBox {
	display:none;
	position:absolute;
	left:0px;
	top:50px;
	width:200px;
	height:auto;
	color:#fff;
	background-color:rgba(0,0,0,0.7);
	padding:5px;
}
.ueser_inven {
	width:100%;
	height:auto;
}
.ueser_inven table tr {
	width:100%;
	height:auto;
}
.ueser_inven table tr td {
	display:inline-block;
	width:50px;
	height:50px;
}